html, body {
    height: 100%;
}
.zero-padding {
    padding: 0;
}
.profile-box {
    background-color: #F25D1E;
}

.image-box {
    height: 50%;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 50%;
}

.horizontal-line {
    border: 1px solid black;
    height: 0%;
    width: 50%;
    margin-bottom: 5%
}

.vertical-line {
    border: 1px solid #E74C3C;
    width: 0%;
    height: 10vh;
}

.mybtn {
    background-color: #E74C3C;
    border-color: #E74C3C;
}

.introduction {
    width: 80%;
}

h1 {
    color: white;
    font-size: 48px;
}

.career-box {
    background-color: #FEE502;
    padding: 15px;
}

.ikon {
    width: 10%;
}

.merah {
    color: #E74C3C;
}

.btn1 {
    background-color: white;
    color: #E74C3C;
    border: #E74C3C 3px solid;
    border-radius: 30px;
}

.red-box {
    background-color: #E74C3C; 
}

.white-box {
    color: #E74C3C;
    border-color: #E74C3C !important;
}

.white-box > .card1 {
    color: white;   
}

.white-box > img-backgorund {
    background-color: white;   
}

.full-page {
    min-height: 100vh;
}