{% extends 'base.html' %}
{% load static %}
{% block content %}     
    <div class="red-box full-page mt-3">
        <div class="container centered full-page">
            <div class="container-fluid row">
                <div class="col-sm">
                    <div class="mt-5 mb-5">
                        {% if not agendas %}
                        <div class="card merah mb-2">
                            <div class="card-body p-1">
                                <div class="media">
                                    <img src="{% static 'img/icons8-question-mark-filled-50.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                                    <div class="vertical-line mr-3 mt-3 mb-3"></div>
                                    <div class="mt-3 media-body">
                                        <h4 class="media-heading">There is nothing here</h4>
                                        <p>You haven't added anything yet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {% for agenda in agendas %}
                        <div class="card merah mb-2">
                            <div class="card-body p-1">
                                <div class="media">
                                    <img src="{% static 'img/icons8-question-mark-filled-50.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                                    <div class="vertical-line mr-3 mt-3 mb-3"></div>
                                    <div class="mt-3 media-body">
                                        <h4 class="media-heading">{{ agenda.name }} <small> {{ agenda.category }} </small> </h4>
                                        <p>{{ agenda.place }}</p>
                                        <p>{{ agenda.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <form method="POST" action="deleteagenda">
                                {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Delete All</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card mt-5 mb-5">
                        <div class="card-header">
                            Add Agenda
                        </div>
                        <div class="card-body">
                            <form method="POST" action="agenda">
                                {% csrf_token %}
                                {% for field in agenda_form %}
                                <div class="form-group">
                                    {{ field.label_tag}}
                                    <br>
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary mybtn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}