{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Profile Ferro</title>
    <meta name="author" content="Ferro">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">My Profile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- left navigation links -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item {{ home_active }}">
                <a class="nav-link" href="/">Home
                </a>
                </li>

                <li class="nav-item {{ about_active }}">
                <a class="nav-link" href="bio">About</a>
                </li>

                <li class="nav-item {{ agenda_active }}">
                <a class="nav-link" href="agenda">My Agenda</a>
                </li>
                <!-- more navigation links -->

            </ul>

            <!-- right navigation link -->
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item {{ reg_active }}">
                <a class="nav-link" href="form">Register</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    {% block content %}
        if you see this, something is wrong!
    {% endblock content %}
    <script src="{% static 'main.js' %}"></script>
</body>