{% extends 'base.html' %}
{% load static %}
{% block content %}   
    <div class="container-fluid mt-5">
        <div class="row"  style="min-height: 100vh">
            <div class="col-sm red-box pt-3">
                <h3 style="color: white">Biodata</h3>
                <div class="horizontal-line" style="border-color:white"></div>
                <div class="card merah mb-2">
                    <div class="card-body p-1">
                        <div class="media">
                            <img src="{% static 'img/icons8-birthday-cake-filled-50.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                            <div class="vertical-line mr-3 mt-3 mb-3"></div>
                            <div class="mt-3 media-body">
                                <h4 class="media-heading">Place & Date of Birth</h4>
                                <p>Cilegon, 9 Mei 1999</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card merah mb-2">
                    <div class="card-body p-1">
                        <div class="media">
                            <img src="{% static 'img/icons8-map-pin-filled-50.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                            <div class="vertical-line mr-3 mt-3 mb-3"></div>
                            <div class="mt-3 media-body">
                                <h4 class="media-heading">Address</h4>
                                <p>Jl.Pipit 3 No.150, kel. Depok Jaya</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card merah mb-2">
                    <div class="card-body p-1">
                        <div class="media">
                            <img src="{% static 'img/icons8-drop-of-blood-90.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                            <div class="vertical-line mr-3 mt-3 mb-3"></div>
                            <div class="mt-3 media-body">
                                <h4 class="media-heading">Blood Type</h4>
                                <p>B</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card merah mb-2">
                    <div class="card-body p-1">
                        <div class="media">
                            <img src="{% static 'img/icons8-standing-man-filled-500.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                            <div class="vertical-line mr-3 mt-3 mb-3"></div>
                            <div class="mt-3 media-body">
                                <h4 class="media-heading">Body Height & Weight</h4>
                                <p>173 cm, 55 kg</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm white-box pt-3">
                <h3>Academic History</h3>
                <div class="horizontal-line" style="border-color: #E74C3C"></div>
                <div class="card card1 mb-2" style="background-color:#E74C3C">
                    <div class="card-body p-1">
                        <div class="media">
                            <img src="{% static 'img/icons8-graduation-cap-90.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                            <div class="vertical-line mr-3 mt-3 mb-3" style="border-color: white"></div>
                            <div class="mt-3 media-body">
                                <h4 class="media-heading">Elementary School</h4>
                                <p>SDIT Raudhatul Jannah Cilegon</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card1 mb-2" style="background-color:#E74C3C">
                    <div class="card-body p-1">
                        <div class="media">
                            <img src="{% static 'img/icons8-graduation-cap-90.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                            <div class="vertical-line mr-3 mt-3 mb-3" style="border-color: white"></div>
                            <div class="mt-3 media-body">
                                <h4 class="media-heading">Junior High School</h4>
                                <p>SMP Pribadi Depok</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card1 mb-2" style="background-color:#E74C3C">
                    <div class="card-body p-1">
                        <div class="media">
                            <img src="{% static 'img/icons8-graduation-cap-90.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                            <div class="vertical-line mr-3 mt-3 mb-3" style="border-color: white"></div>
                            <div class="mt-3 media-body">
                                <h4 class="media-heading">Senior High School</h4>
                                <p>SMA Pribadi Depok</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card1 mb-2" style="background-color:#E74C3C">
                    <div class="card-body p-1">
                        <div class="media">
                            <img src="{% static 'img/icons8-graduation-cap-90.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                            <div class="vertical-line mr-3 mt-3 mb-3" style="border-color: white"></div>
                            <div class="mt-3 media-body">
                                <h4 class="media-heading">University</h4>
                                <p>Universitas Indonesia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}