{% extends 'base.html' %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirm Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label for="pwd">Password:</label>
            <input type="password" name="passwordDelete" id="pwddel">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="modalsubmit" class="btn btn-danger">Save changes</button>
        </div>
        </div>
    </div>
</div>
<div class="red-box full-page mt-3">
    <div class="container d-flex align-items-center flex-column">
        <div class="card w-75 mt-5 mb-5">
            <div class="card-header">
                Regitration Form
            </div>
            <div class="card-body">
                <form action="adduser/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nama">Name:</label>
                        <input type="text" name="nama" class="form-control" id="nama">
                        <small id="namaHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" name="email" class="form-control" id="email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" name="password" class="form-control" id="pwd">
                        <small id="passwordHelp" class="form-text text-muted"></small>
                    </div>
                    <button disabled type="submit" id="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
        </div>
        <div class="card w-75 mb-5">
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="ml-auto"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}