{% extends 'base.html' %}
{% load static %}
{% block content %}   
    <div class="container-fluid full-page pt-5 mt-1">
        <div class="row">
            <div class="col-md-5 profile-box">
                <div class="container pb-3 pt-3">

                    <div class="image-box centered pt-4 pb-4">
                        <img src="{% static 'img/me.jpg' %}" class="rounded-circle foto" alt="Its Me!">
                    </div>
                    <div class="centered">
                        <div class="horizontal-line"></div>
                    </div>
                    <div class="introduction container">
                        <h4>Hello! I am</h4>
                        <h1>Ferro Geraldi Hardian</h1>
                        <h5>Coordinator of Teaching Assistants Team in University of Indonesia</h5>
                    </div>
                    <div class="container-fluid centered pt-5">
                        <a href="form" class="btn btn-primary container-fluid mr-5 ml-5">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 zero-padding">
                <div class="career-box pb-1">
                    <h3>Career & Achievements</h3>
                    <div class="horizontal-line"></div>
                    <div class="card merah mb-2">
                        <div class="card-body p-1">
                            <div class="media">
                                <img src="{% static 'img/icons8-graduation-cap-48.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                                <div class="vertical-line mr-3 mt-3 mb-3"></div>
                                <div class="mt-3 media-body">
                                    <h4 class="media-heading">Academics</h4>
                                    <p>Student at University of Indonesia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card merah mb-2">
                        <div class="card-body p-1">
                            <div class="media">
                                <img src="{% static 'img/icons8-prize-filled-50.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                                <div class="vertical-line mr-3 mt-3 mb-3"></div>
                                <div class="mt-3 media-body">
                                    <h4 class="media-heading">Achievements</h4>
                                    <p>Champion of Code in The Light Competitions 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card merah mb-2">
                        <div class="card-body p-1">
                            <div class="media">
                                <img src="{% static 'img/icons8-permanent-job-filled-50.png' %}" class="mr-3 ml-2 ikon align-self-center rounded-circle">
                                <div class="vertical-line mr-3 mt-3 mb-3"></div>
                                <div class="mt-3 media-body">
                                    <h4 class="media-heading">Career</h4>
                                    <p>Front End Web Developer Intern at Mango</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid about p-3">
                    <div class="row">
                        <div class="col-3">
                            <h4>About me</h4>
                        </div>
                        <div class="col-3">
                            <a href="bio" class="btn btn1">See more</a>
                        </div>
                    </div>
                    <div class="horizontal-line mb-2" style="width: 20%"></div>
                    <h5>I am an aspiring programmer, ready to see, experience, and learn all about web programming
                     world. Which led me to studying at University of Indonesia in Faculty of Computer Science.</h5>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <a href="https://id.linkedin.com/in/ferro-geraldi-hardian-052414161">
                                <img src="{% static 'img/icons8-linkedin-filled-50.png' %}">
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="https://www.facebook.com/ferro.hardian">
                                <img src="{% static 'img/icons8-facebook-filled-50.png' %}" alt="">
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="https://twitter.com/ferro_gh">
                                <img src="{% static 'img/icons8-twitter-filled-50.png' %}" alt="">
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="mailto:ferrohardian@gmail.com?subject = Feedback&body = Message">
                                <img src="{% static 'img/icons8-new-post-filled-50.png' %}" alt="ferrohardian@gmail.com">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}